[submodule "awc-growth-supp"]
	path = awc-growth-supp
	url = https://github.com/marklhc/awc-growth-supp
[submodule "boot-mlm-es-supp"]
	path = boot-mlm-es-supp
	url = https://github.com/marklhc/boot-mlm-es-supp
[submodule "mcaa_supp"]
	path = mcaa_supp
	url = https://github.com/marklhc/mcaa_supp.git
